/*global styles*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root{
    --btn-text-border-color:#1c1d1f;
    --dark-btn-text-color:#fff;
}
.tabs-container {
    --tabs-scroll-left-bg: linear-gradient(to right, #fff 75%, rgba(255,255,255,0));
    --tabs-scroll-right-bg: linear-gradient(to left, #fff 75%, rgba(255,255,255,0));
    --tabs-scroll-right-bg-overflow: linear-gradient(to left, #fff, rgba(255,255,255,0));
    --tabs-pagination-color: #5624d0;
    --tabs-text-color-default: #1c1d1f;
    --tabs-nav-color-default: #6a6f73;
    --tabs-nav-color-active: #1c1d1f;
    --tabs-nav-color-hover: #1c1d1f;
    --tabs-container-border-bottom-active: 0.2rem solid #1c1d1f;
    --tabs-box-shadow-color: #d1d7dc;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #1c1d1f;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
    font-size: inherit;
    font-weight: 400;
    max-width: 30rem;
}
li{
    list-style: none;
}
.ud-heading{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.25;
    letter-spacing: -.05rem;
}
.ud-heading-sm{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1rem;
}

.ud-text-md{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
}

.ud-text-sm {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: .8rem;
}
.ud-text-xs{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: .75rem;
}
.ud-text-lg{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
}
.ud-heading-serif-xl{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.35;
    letter-spacing: -.02rem;
}
.ud-heading-md{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1rem;
}
.ud-heading-xl{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.4rem;
}
.ud-heading-xs {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: .675rem;
}
section{
    min-width: 60rem;
    margin: 0 128px;
    max-width: 134rem;
}
.ud-btn-secondary, .udlite-btn-secondary, .ud-btn-secondary.ud-btn-disabled, .udlite-btn-secondary.udlite-btn-disabled {
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
}
/*end global styles*/
/*main styles*/

.landing-main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
header{
    justify-content: space-around;
    background: #fff;
    height: 5.2rem;
    padding: 0 2.4rem;
    position: relative;
    z-index: 1010;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 9;
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 1.4;
    font-size: 2rem;
}
.logo{
    flex-shrink: 0;
    padding-right: 0.8rem;
}
nav.header-popper{
    display: flex;
    justify-content: space-around;
}
.header-drop-btn{
    height: 3rem;
    margin: 1.2rem 0;
    color:var(--btn-text-border-color);
    background-color: transparent;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    margin-left: 0.8rem;
}
.header-drop-btn span img{
    height: 2.4rem;
    width: 1.8rem;
}

.header-search-bar{
    flex-grow: 1;
    height: 3rem;
    border: 1px solid #1c1d1f;
    border-radius: 9999px;
    background-color: #f7f9fa;
    margin: 0 1.2rem;
    position: relative;
    min-width: 18rem;
    /* max-width: 60rem; */
    /* width: 56rem; */
}

.search-form{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem 0 0; 
}
input#search-form{
    background-color: transparent;
    padding: 0 0 0 0.4rem;
    border: 0;
    flex: 1;
    height: 3.4rem;
    width: 100%;
    outline: none;
}
.search-btn{
    opacity: .5;
    cursor: not-allowed;
    width: 2.8rem;
    height: 4.8rem;
    position: relative;
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
}
.search-btn img{
    margin-left: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
}



.transparent-btn{
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    height: 3rem;
    font-weight: 700;
    line-height: 1.2;
    
}
.dark-btn{
    color:var(--dark-btn-text-color);
    background-color:var(--btn-text-border-color);
    border: 1px solid #1c1d1f;
    height: 3rem;
        font-weight: 700;
    line-height: 1.2;
}
.transparent-btn span, .dark-btn span{
    font-weight: 700;
    line-height: 1.2;
}
.web{
    min-width: auto;
}

.carousel-container{
    position: relative;
    
}
.carousel-scroll{
    scrollbar-width: none;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
.carousel-billboard.carousel-item{
    min-width: 100%;
    scroll-snap-align: start;
}
.billboard-banner{
    margin-bottom: 4.8rem;
    max-width: 134rem;
    display: block;
    position: relative;
    width: 100%;
}
.billboard-banner-image{
    margin-bottom: 0;
}

.billboard-banner-image img{
    width: 100vw;
    height: auto;
    object-fit: contain;
    object-position: initial;
}
.billboard-banner-content-box{
    z-index: 1;
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.2rem;
    left: 4.4rem;
    top: 3.8rem;
    max-width: 44rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 28vw;
}
.udemy-story{
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.alternate-headline{
    margin: 0;
    max-width: 100%;
}
.headline-main-text {
    max-width: 80rem;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.4;
    letter-spacing: -.05rem;
}
.headline-subtext{
    margin: 1.6rem 0 0;
    max-width: 80rem
}



.ud-tabs-nav-buttons{
    box-shadow: none;
    position: relative;
}
/*carousel*/
.carousel-scroll-lock{
    overflow-x: hidden;
}
.carousel-grid{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
}
.carousel-scroll-item{
    min-width: 0.1rem;
    scroll-snap-align: start;
} 
.popper-popper{
    position: relative;
}
.course-card-container{
    flex-direction: column;
    max-width: 14.5rem;
    min-width: 12rem;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.course-unit-grid{
    grid-auto-columns: calc((100% - (5 - 1) * 1.6rem)/5);
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
}
.course-card-image-wrapper{
    padding-bottom: 56.25%;
    width: 100%;
    background-color: #1c1d1f;
    border: 1px solid #d1d7dc;
    overflow: hidden;
    position: relative;
}
.course-card-course-image{
    position: absolute;
    width: 100%;
    height: 100%;
}
.course-card-main-content{
    width: 100%;
    color: #1c1d1f;
    white-space: nowrap;
    flex: 1;
    min-width: 1px;
}
.course-card-course-title{
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.course-card-course-title a{
    color: #1c1d1f;
    font-weight: inherit;
}
.ud-sr-only{
    display: none;
}
.course-card-instructor-list {
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #6a6f73;
}
.course-card-row{
    margin-bottom: .4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.star-rating-star-wrapper{
    display: inline-flex;
    align-items: center;
}
.star-number{
    margin-right: 0.4rem;
    color: #b4690e;
}
.fa{
    font-size: 12px;
}
.fa.checked{
    color: #e59819;
}
.course-card-reviews-text{
    margin-left: 0.4rem;
}
.price-text-container.course-card-price-text-container{
    align-items: center;
    color: #1c1d1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.course-card-course-badges{
    display: flex;
    margin: 0.8rem 0 0.4rem;
    gap: 0.4rem 0.8rem
}
.ud-badge{
    background-color: #eceb98;
    color: #3d3c0a;
    display: inline-block;
    padding: 0.2rem 0.6rem;
    white-space: nowrap;
}
.popper-trigger-cont button{
    visibility: hidden;
}


/*end carousel*/
.ud-nav-button-container{
    border-bottom: none!important;
}
.ud-btn-large{
    background: 0 0;
    padding: 0.8rem 0.4rem;
    outline-offset: -0.4rem!important;
    color: var(--tabs-nav-color-default);
    position: relative;
    width: 100%;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    vertical-align: bottom;
    white-space: nowrap;
}

.ud-nav-button-container .ud-btn-large:hover,
input#tab-0:checked~#tab-0-label,
input#tab-1:checked~#tab-1-label,
input#tab-2:checked~#tab-2-label,
input#tab-3:checked~#tab-3-label,
input#tab-4:checked~#tab-4-label,
input#tab-5:checked~#tab-5-label,
input#tab-6:checked~#tab-6-label{
    color: var(--tabs-nav-color-hover);
}
.ud-tab-content{
    border: 1px solid #d1d7dc;
    padding: 3.2rem;
}
.ud-tab-content div{
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;}


.ud-tabs-nav-buttons>.carousel-container>.carousel-scroll.carousel-grid.carousel-scroll-lock>.carousel-scroll-item>.ud-nav-button-container>input#tab-0:checked~.ud-tab-content div#tab-content-0{
    opacity: 1 !important;
    z-index: 100 !important;
}
.ud-nav-button-container>input{
    visibility: hidden;
}




.value-proposition{
    width: 99.4vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: #f7f9fa;
    border: 0;
    margin-top: 6.4rem;
    padding: 1.4rem 0;
}
.ud-container{
    max-width: 134rem;
    margin-right: 128px;
    margin-left: 128px;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.value-props {
    display: flex;
    justify-content: space-between;
}

.value-props-prop {
    margin: 0 0 0 4.8rem;
    display: flex;
}
.value-props-prop:nth-child(1) {
    margin:0;
    display: flex;
}

.value-props-graphic {
    margin-right: 1.6rem;
}
.value-props-icon{
    background: #d1d7dc;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.value-props-body{
    max-width: 28.8rem;
    display: flex;
    align-items: center;
}
.component-margin{    
    margin-top: 6.4rem;
}
.unit-title-container{
    margin-bottom: 1.6rem;
}

.top-categories{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.6rem -3.2rem 0;
    justify-content: space-between;
}
.top-categories-title{
    margin-bottom: 1rem;
}
.top-categories-category-card {
    margin: 0 1.6rem 1.6rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: calc(100%/4 - 1.6rem);
}
.category-card-img-wrapper {
    overflow: hidden;
}
.category-card-img-wrapper img{
    background: #f7f9fa;
    display: block;
    object-fit: contain;
    transition: transform 100ms cubic-bezier(.2,0,1,.9);
}
.category-card-category-card-title {
    color: #1c1d1f;
    padding: 0.8rem 0 1.6rem;
}
.trending-topics-container-title{
    margin-top: 4rem;
    margin-bottom: 2.4rem;
    font-size: 1.4rem;

}
.trending-topics-title{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.trending-topics-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trending-topics-category{
    width: calc(100%/4 - 1.6rem);
    display: inline-block;
    margin-bottom: 2.4rem;
}
.trending-topics-link{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 1rem;
    color: #5624d0;
    font-weight: 700;
    text-decoration: underline;
}
.trending-topics-count{
    margin-top: 0.8rem;
    color: #6a6f73;
}
.trending-topics-topic{
    margin-top: 2.4rem;
    
}
a.ud-btn{
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    height: 3rem;
    margin-bottom: 4rem;
}
.partners-banner-container{
    padding: 0;
}
.partners-banner-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.partner-logos-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-self: normal;
    max-width: none;
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}
.partner-logos-logo-item {
    justify-self: center;
    padding-left: 0;
    margin-top: 0;
}
.partners-banner-wrapper p {
    margin: 0.8rem 0 2.4rem;
    max-width: none;
}
.non-student-cta{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30rem;
}
.non-student-cta-bg{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 22rem;
}
.non-student-cta-content-wrapper{
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
}
.non-student-cta-content-wrapper2{
    display: flex;
    padding: 0;
    flex-direction: row;
}
.non-student-cta-content-wrapper2 .non-student-cta-body{
    margin: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30rem;
    text-align: left;
}
.non-student-cta-body{
    margin: 0 2rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30rem;
    text-align: left;
}
.non-student-cta-content-wrapper2 .non-student-cta-image{
    margin: 0 6rem 0 0;
}
.non-student-cta-image{
    margin: 0;
    display: inherit
}
.non-student-cta-header{
    margin-bottom: 1.6rem;
}
h3.non-student-cta-header.ud-heading-serif-xl {
    font-size:2rem;
    max-width: 30rem;
}
.non-student-cta-content{
    margin-bottom: 1.6rem;
}
.ud-unstyled-list li{
    padding-left: 0;
}
.ud-block-list-item {
    color: #1c1d1f;
    padding: 0.4rem 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;

}
.ud-block-list-item-icon {
    min-height: 2.24rem;
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
}
.ud-block-list-item-content{
    flex: 1;
    min-width: 1px;
}
.non-student-cta-ctas-container{
    display: flex;
    justify-content: left;
    flex-direction: row;

}
.non-student-cta-link{
    margin: 0 0.8rem 0 0;

}
a.dark-btn{
    padding: 0 1.2rem;
    color: #fff;
    background-color: #1c1d1f;
    border: 1px solid #1c1d1f;
    height: 3rem;
    margin-bottom: 4rem;
}
.ud-footer .footer-section.footer-section-main{
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    background: #1c1d1f;
    border-top: 1px solid #3e4143;
    color: #fff;  

}
.links-and-language-selector{
    display: flex;
}
.language-selector-container{
    padding: 0 0 2.4rem;
    order: 1;
    flex-shrink: 0;
    margin-left: auto;
}
.ud-footer .link-column {
    flex-basis: 25.6rem;
    margin-right: 1.6rem;
    margin-bottom: 0;
}
.ud-unstyled-list, .unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
}
.ud-footer .language-selector-container .ud-btn, .ud-footer .language-selector-container .ud-icon {
    border-color: #fff;
    color: #fff;
}